body {
  padding: 0, 50px, 20px, 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.message {
  margin-top: 10px;
  padding: 5px 5px 5px 10px;
  border-radius: 10px;
}

.theirs {
  background-color: lightgrey;
}
.mine {
  background-color: lightblue;
}

.app{
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100vh;
  font-size: 16px;
}
.nav{
  flex-basis: 20%;
}

.messages-container{
  flex-basis: 80%;
  /*margin-bottom: 0;*/
  height: 100vh;
}

.messages {
  top: 20px;
  height: 90%;
}

.support, .users{
  height: 50vh;
  margin-bottom: 0;
}
.groups, .users, .messages{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.groups, .users{
  height: 88%;
}

.group-form {
  position: static;
}

.signout-button {
  right: 16px;
  top: 0px;
  position: absolute;
  height: 40px;
}

.messages{
  height: 85%;
  top: 0;
}

.message-form {
  position: absolute;
  bottom: 5px;
  width: 68%;
}

.groups > ul, .messages > ul, .users > ul{
  flex: 1;
  overflow-y: auto;
}
.scroll-groups {
  overflow: scroll;
}

.message > .author{
  flex-basis: 100%;
}
.message > .body{
  flex-basis: 100%;
}
.active {
  background-color: #E8E8E8;
}
.timestamp{
  color: #808080;
  font-style: italic;
  padding-left: 10px;
  font-size: 13px;
}
.form-group{
  margin-bottom: 0;
}
ul{
  list-style-type:none;
  padding: 0;
}
li{
  padding: 0 4px 0 4px;
}
a{
  cursor: pointer;
}
